<new-status class="mx-auto md:w-2/3 w-full dark:text-neutral-200">
  <h1 class="font-black text-4xl">Threadstadon</h1>

  <p>This is just how we name these sorts of things for now.</p>

  <%= render "form", status: @status %>

</new-status>
