<new-status class="mx-auto md:w-2/3 w-full dark:text-neutral-200">
  <h1 class="font-black text-4xl">Threadstodon</h1>

  <p>This is just how we name these sorts of things now.</p>

  <%= render "form", status: @status %>
  
  <p class="text-sm">I intend for this to be a tool to share toots in a way that's presentable to a wider audience outside of Mastodon and that's it. 100% tracker free. Every toot is linked back to its source. If the public API doesn't publish it, or has revoked it before it is processed here, I can't get to it.</p>
  <p><a href="https://github.com/ericdfields/threadstodon">The code for this is public.</a>. If you want to discuss something, please file an issue.</p>

</new-status>
